/* Styles CSS  */

/* This is a rule */

body {
  background: rgb(245, 234, 234); /* This is a property */
  color: #000000 font-family;
  helvetica: Arial, sans-serif;
}

div.page {
  margin: 50px auto;
  width: 700px;
  background: rgba(184, 158, 158, 0.933);
}

div.page .header {
  margin-left: 10px;
  padding: 25px 25px 30px 35px;
  border-bottom: 10px rgb(235, 165, 139) solid;
}

div.page .content {
  padding: 25px 25px 15px 45px;
  background-color: rgb(201, 212, 201);
}

div.page .reference1 {
  padding: 40px auto;
}

p strong {
  color: #000000;
}
p em {
  background: rgb(235, 230, 187);
}
p big {
  line-height: 26px;
}
