/* Styles CSS  */

/* This is a rule */

body {
  background: rgb(218, 138, 138); /* This is a property */
  color: #000000
  font-family: Helvetica, Arial, sans-serif;
}

div.page {
  margin: 50px auto;
  width: 700px;
  background: #eeee;
}

div.page .header {
  padding: 25px 25px 30px 25px;
  border-bottom: 1px coral solid;
}

div.page .content {
  padding: 25px 25px 15px 25px;
}

div.page .reference1 {
  padding: 50px auto;
}

p strong {
  color: #000000;
}
p em {
  background: rgb(175, 175, 62);
}
p big {
  line-height: 26px;
}
